<section class="example-section">
    <mat-checkbox data-label="checkbox" *ngIf="type === 0" class="example-margin">Check me!</mat-checkbox>
    <mat-checkbox data-label="checkbox" *ngIf="type === 1" class="example-margin" [disabled]="true">Disabled</mat-checkbox>
  </section>
  
  <section *ngIf="type === 2" class="example-section">
    <span class="example-list-section">
      <mat-checkbox data-label="checkbox" class="example-margin"
                    [checked]="allComplete"
                    [color]="task.color"
                    [indeterminate]="someComplete()"
                    (change)="setAll($event.checked)">
        {{task.name}}
      </mat-checkbox>
    </span>
    <span class="example-list-section">
      <ul>
        <li *ngFor="let subtask of task.subtasks">
          <mat-checkbox data-label="checkbox" [(ngModel)]="subtask.completed"
                        [color]="subtask.color"
                        (ngModelChange)="updateAllComplete()">
            {{subtask.name}}
          </mat-checkbox>
        </li>
      </ul>
    </span>
  </section>
  