/tmp/*
*tmp

*__pycache__
.vscode
.idea

*.log
*.ipynb_checkpoints*
*.pyc
flask-temp-storage/*

generators/HTMLgenerator/output
venv/

data/mui_dataset/*
!data/mui_dataset/classes.txt
!data/mui_dataset/EXTRACT_ATTRIBUTES_LIST.json

data/old_dataset/*
!data/old_dataset/classes.txt

data/uploaded_dataset
data/other

**/notebooks
