/tmp/*
*tmp

*__pycache__
.vscode
.idea
*pytest_cache

*.log
*.ipynb_checkpoints*
*.pyc
flask-temp-storage/*

generators/HTMLgenerator/output
generators/HTMLgenerator/dataset
generators/VuetifyGenerator/node_modules
generators/VuetifyGenerator/dist
venv/

data/mui_dataset/*
!data/mui_dataset/classes.txt
!data/mui_dataset/EXTRACT_ATTRIBUTES_LIST.json

data/html5_dataset/*
!data/html5_dataset/classes.txt
!data/html5_dataset/EXTRACT_ATTRIBUTES_LIST.json

data/bs_dataset/*
!data/bs_dataset/classes.txt
!data/bs_dataset/EXTRACT_ATTRIBUTES_LIST.json

data/general_dataset/*
!data/general_dataset/classes.txt
!data/general_dataset/EXTRACT_ATTRIBUTES_LIST.json

data/old_dataset/*
!data/old_dataset/classes.txt

data/uploaded_dataset
data/other
dataset/cache-labels/*
dataset/df/20*
.idea/*
HTMLgenerator/output/*
venv/
.pytest_cache/*
.coverage
.coverage.*
.cache
coverage.xml
.DS_Store

**/.DS_Store
.env