<mat-slide-toggle data-label="slideToggle" *ngIf="type === 0" class="example-margin" [color]="color" [checked]="checked" [disabled]="disabled">
    Slide me!
</mat-slide-toggle>
<mat-slide-toggle data-label="slideToggle" *ngIf="type === 1" class="example-margin" color="primary" checked="true" [disabled]="disabled">
    Slide me!
</mat-slide-toggle>
<mat-slide-toggle data-label="slideToggle" *ngIf="type === 2" class="example-margin" color="warn" checked="true" disabled="true">
    Slide me!
</mat-slide-toggle>
<mat-slide-toggle data-label="slideToggle" *ngIf="type === 3" class="example-margin" color="primary" checked="false" disabled="true">
    Slide me!
</mat-slide-toggle>