
<mat-form-field data-label="formField" *ngIf="type === 0" appearance="fill">
  <mat-label>Favorite food</mat-label>
  <mat-select data-label="select">
    <mat-option *ngFor="let food of foods" [value]="food.value">
      {{food.viewValue}}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field data-label="formField" *ngIf="type === 1" appearance="fill">
  <mat-label>Cars</mat-label>
  <select data-label="select" matNativeControl required>
    <option value="volvo">Volvo</option>
    <option value="saab">Saab</option>
    <option value="mercedes">Mercedes</option>
    <option value="audi">Audi</option>
  </select>
</mat-form-field>

<form [formGroup]="form">
  <mat-form-field data-label="formField" *ngIf="type === 2" appearance="fill">
    <mat-label>Favorite Food</mat-label>
    <mat-select data-label="select" [formControl]="foodControl" name="food">
      <mat-option>None</mat-option>
      <mat-option *ngFor="let food of foods" [value]="food.value">
        {{food.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field data-label="formField" *ngIf="type === 3" appearance="fill">
    <mat-label>Favorite Car</mat-label>
    <select data-label="select" matNativeControl [formControl]="carControl" name="car">
      <option value="">None</option>
      <option *ngFor="let car of cars" [value]="car.value">
        {{car.viewValue}}
      </option>
    </select>
  </mat-form-field>
</form>