<mat-slider data-label="slider" *ngIf="type === 0" class="example-margin" [disabled]="disabled" [invert]="invert" [max]="max" [min]="min" [step]="step"
    [thumbLabel]="thumbLabel" [tickInterval]="getSliderTickInterval()" [(ngModel)]="value" [vertical]="vertical"
    aria-labelledby="example-name-label">
</mat-slider>
<mat-slider data-label="slider" *ngIf="type === 1" class="example-margin" [disabled]="disabled" [invert]="invert" [max]="max" [min]="min" [step]="step"
    thumbLabel="true" [tickInterval]="getSliderTickInterval()" ngModel="30" [vertical]="vertical"
    aria-labelledby="example-name-label">
</mat-slider>
<mat-slider data-label="slider" *ngIf="type === 2" class="example-margin" [disabled]="disabled" [invert]="invert" max="100" min="0" [step]="1"
    [thumbLabel]="thumbLabel" tickInterval="10" ngModel="45" vertical="true" aria-labelledby="example-name-label">
</mat-slider>
<mat-slider data-label="slider" *ngIf="type === 3" class="example-margin" [disabled]="disabled" [invert]="invert" [max]="max" [min]="min" [step]="step"
    thumbLabel="true" [tickInterval]="getSliderTickInterval()" ngModel="21" [vertical]="vertical"
    aria-labelledby="example-name-label">
</mat-slider>
<mat-slider data-label="slider" *ngIf="type === 4" class="example-margin" disabled="true" [invert]="invert" [max]="max" [min]="min" [step]="step"
    [thumbLabel]="thumbLabel" [tickInterval]="getSliderTickInterval()" ngModel="97" [vertical]="vertical"
    aria-labelledby="example-name-label">
</mat-slider>
<mat-slider data-label="slider" *ngIf="type === 5" class="example-margin" [disabled]="disabled" invert="true" [max]="max" [min]="min" step="1"
    [thumbLabel]="thumbLabel" tickInterval="10" ngModel="7" [vertical]="vertical" aria-labelledby="example-name-label">
</mat-slider>