<app-autocomplete [type]="structure.autocomplete"></app-autocomplete> 
<app-bottom-sheet [type]="structure.bottomSheet"></app-bottom-sheet> 
<app-button [type]="structure.button"></app-button> 
<app-button-toggle [type]="structure.buttonToggle"></app-button-toggle> 
<app-card [type]="structure.card"></app-card> 
<app-checkbox [type]="structure.checkbox"></app-checkbox> 
<app-chips [type]="structure.chips"></app-chips> 
<app-datepicker [type]="structure.datepicker"></app-datepicker> 
<app-dialog [type]="structure.dialog"></app-dialog> 
<app-expansion-panel [type]="structure.expansionPanel"></app-expansion-panel> 
<app-form-field [type]="structure.formField"></app-form-field> 
<app-input [type]="structure.inputTextField"></app-input> 
<app-input [type]="structure.inputTextArea"></app-input> 
<app-list [type]="structure.list"></app-list> 
<app-menu [type]="structure.menu"></app-menu> 
<app-paginator></app-paginator> 
<app-progress-bar [type]="structure.progressBar"></app-progress-bar> 
<app-radio [type]="structure.radio"></app-radio> 
<app-select [type]="structure.selectMaterial"></app-select> 
<app-select [type]="structure.selectNative"></app-select> 
<app-sidenav [type]="structure.sidenav"></app-sidenav> 
<app-slide [type]="structure.slideToggle"></app-slide> 
<app-slider [type]="structure.slider"></app-slider> 
<app-snackbar></app-snackbar> 
<app-table [type]="structure.table"></app-table> 
<app-tabs [type]="structure.tabs"></app-tabs> 
<app-toolbar [type]="structure.toolbar"></app-toolbar> 
<app-tree [type]="structure.tree"></app-tree> 
