<mat-toolbar data-label="toolbar" *ngIf="type === 0">
  <button data-label="button" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon data-label="icon">menu</mat-icon>
  </button>
  <span>My App</span>
  <span class="example-spacer"></span>
  <button data-label="button" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon data-label="icon">favorite</mat-icon>
  </button>
  <button data-label="button" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon data-label="icon">share</mat-icon>
  </button>
</mat-toolbar>

<p>
  <mat-toolbar data-label="toolbar" *ngIf="type === 1">
    <span>My Application</span>
  </mat-toolbar>
</p>

<p>
  <mat-toolbar data-label="toolbar" *ngIf="type === 2">
    <button data-label="button" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon data-label="icon">menu</mat-icon>
    </button>
    <span>My App</span>
    <span class="example-spacer"></span>
    <button data-label="button" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon data-label="icon">favorite</mat-icon>
    </button>
    <button data-label="button" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon data-label="icon">share</mat-icon>
    </button>
  </mat-toolbar>
</p>

<p>
  <mat-toolbar data-label="toolbar" *ngIf="type === 3" color="primary">
    <button data-label="button" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon data-label="icon">menu</mat-icon>
    </button>
    <span>My App</span>
    <span class="example-spacer"></span>
    <button data-label="button" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon data-label="icon">favorite</mat-icon>
    </button>
    <button data-label="button" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon data-label="icon">share</mat-icon>
    </button>
  </mat-toolbar>
</p>

<p>
  <mat-toolbar data-label="toolbar" *ngIf="type === 4" color="primary">
    <mat-toolbar-row>
      <span>My App</span>
      <span class="example-spacer"></span>
      <button data-label="button" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon data-label="icon">menu</mat-icon>
      </button>
    </mat-toolbar-row>

    <mat-toolbar-row>
      <span>Second Line</span>
      <span class="example-spacer"></span>
      <button data-label="button" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon data-label="icon">favorite</mat-icon>
      </button>
      <button data-label="button" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon data-label="icon">share</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
</p>